/* App.module.css */

.cardBody{
    padding: 16px;
}
.chip{ 
    margin-top: 8px;
    margin-right: 8px;
}

.fade {
    --mask: linear-gradient(to top, 
        rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
        rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
    

    -webkit-mask: var(--mask); 
    mask: var(--mask);
    
  }